* {
  box-sizing: border-box;
}

body {
  background-color: #080808;
}

.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexdisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  color: #fff;
  margin-bottom: 20px;
}

button {
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #fff;
}

small {
  color: #fff;
}

.failed {
  color: red;
}

.pass {
  color: green;
}
